.grid-first{
    display: grid;
    background-color: #4ae3ad;
    grid-template-columns: auto auto;
    height: 160px;
    margin-top: 30px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;

}
.grid-first-img{
    background-color: coral;
    height: 160px;
    width: 300px;
    /*margin-bottom: 30px;*/
    margin-right: auto;
    margin-left: auto;

}
.grid-first-content{
    background-color: white;
    height: 160px;
    width: 600px;
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}
.grid2-img{
    display: grid;
    background-color: #e0ee23;
    grid-template-columns: auto auto auto auto;
    height: 160px;
    margin-top: 80px;
    padding: 10px;
    border: 2px solid black;
}

.login-form{
    display: grid;
    background-color: aqua;
    grid-template-columns: auto;
    height: 160px;
    margin-top: 50px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;


}
.title-grid{
    margin-top: 70px;
    border-radius: 15px;
    border: 2px solid #000000;
    height: 250px;
}
.title{
    position: relative;
    left: 30px;
    margin-left: 1%;
}
.btn1{
    background-color: green;
    border-radius: 60%;
    height: 50px;
    width: 50px;
    margin-left: 10%;
    text-align: center;
    /*padding-bottom: 30px;*/


}
.btn2{
    background-color: green;
    border-radius: 60%;
    height: 50px;
    width: 50px;
    margin-left: 70%;
    margin-top: 15px;
    text-align: center;

    /*padding-bottom: 30px;*/
}
.login-btn{
    background-color: #3378f3;
    height: 40px;
    width: 80px;
}